<%# listPatent.html.erb %>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#groups" data-toggle="tab">Groups</a></li>
		<li><a href="#patents" data-toggle="tab">Patents</a></li>
	</ul>
	<div class="tab-content">
		<% if @result_patents==nil then %>
		<div id="groups" class="table tab-pane active">there has no data!</div>
		<% else %>
		<table id="groups" class="table tab-pane active">
			<thead>
				<tr>	
					<th></th>
					<th>Assignee</th>
				</tr>
			</thead>
			<tbody>
			<% @result_groups.each { |assignee, abbr| %>
				<tr>
					<td><input type="checkbox" id="<%= assignee %>"/></td>
					<td><%= assignee %></td>
			</tr>
		     <% } %>
		 	</tbody>
		</table>
		<% end %>

		<% if @result_groups==nil then %>
		<div id="patents" class="table tab-pane">there has no data!</div>
		<% else %>
		<table id="patents" class="table tab-pane">
			<thead>
				<tr>
					<th></th>
					<th>ID</th>
					<th>Assignee</th>
					<th>Issued Year</th>
				</tr>
			</thead>
			<tbody>
			<% @result_patents.each { |p| %>
				<tr title="<%= p['title'].to_s %>">
					<td><input type="checkbox" id="<%= p['patent_id'] %>"/></td>
					<td><%= p['patent_id'].to_s %></td>
					<td><%= p['assignee'].to_s %></td>
					<td><%= p['issued_year'].to_s %></td>
			</tr>
		     <% } %>
		 	</tbody>
		</table>
		<% end %>
	</div>
</div>