<h3><i class="icon-search"></i> Search Results </h3>

<p>
	<h4>Search by Patent ID = "<%= params[:patentID]%>"</h4><br>

  	<form name="addCart" class="form-inline">
		<button class="btn" id="addCartPatent" type="button"><i class="icon-shopping-cart"></i>Add to My Patent Cart</button>
	</form>

    <% (2003..2008).each { |i| %>
    <% if @patent[i].to_a.empty? == false %>
    <span id="patentID"><b>Patent ID: </b><%= @patent[i].to_a[0]["Patent_id"].to_s %></span><br>
	<span id="title"><b>Title: </b><%= @patent[i].to_a[0]["Title"].to_s %></span><br>
	<span><b>Inventors: </b><%= @patent[i].to_a[0]["Name"].to_s %></span><br>
	<span id="assignee"><b>Assignee: </b><%= @patent[i].to_a[0]["Assignee"].to_s %></span><br>
	<span id="issued_date"><b>Issued Date: </b><%= @patent[i].to_a[0]["Issued_date"].to_s %></span><br>
	<span><b>Filed Date: </b><%= @patent[i].to_a[0]["Filed_Date"].to_s %></span><br><br>
	<span><b>Abstract: </b><%= @patent[i].to_a[0]["Abstract"].to_s %></span><br><br>
	<span><b>Claims: </b><%= @patent[i].to_a[0]["Claims"].to_s %></span><br><br>
	<span><b>Summary: </b><%= @patent[i].to_a[0]["Summary"].to_s %></span><br>
	<% end %>
     <% } %>

</p>