<h3><i class="icon-search"></i> Search Results </h3>

<p>
	<blockquote><h4>Search by Patent ID = "<%= params[:patentID]%>"</h4></blockquote>
</p>
<blockquote class="pull-right">
	<small>See the patent on <a href="http://patft.uspto.gov/netacgi/nph-Parser?Sect1=PTO1&Sect2=HITOFF&d=PALL&p=1&u=%2Fnetahtml%2FPTO%2Fsrchnum.htm&r=1&f=G&l=50&s1=<%= params[:patentID]%>.PN.&OS=PN/<%= params[:patentID]%>&RS=PN/<%= params[:patentID]%>">USPTO</a>, &nbsp<a href="http://www.google.com.tw/patents/US<%= params[:patentID]%>">Google Patent</a></small>
</blockquote>

<form name="addCart" class="form-inline">
	<button class="btn" id="addCartPatent" type="button"><i class="icon-shopping-cart"></i>Add to My Patent Cart</button>
</form>

<% (2003..2008).each do |i| %>
	 <% if @patent[i].to_a.empty? == false %>
	    <p id="patentID"><b>Patent ID: </b><%= @patent[i].to_a[0]["Patent_id"].to_s %></p>
		<p id="title"><b>Title: </b><%= @patent[i].to_a[0]["Title"].to_s %></p>

		<p><b>Inventors: </b><%= @patent[i].to_a[0]["Name"].to_s %></p>
		<p id="assignee"><b>Assignees: </b><%= @patent[i].to_a[0]["Assignee"].to_s%></p>

		<p id="issued_date"><b>Issued Date: </b><%= @patent[i].to_a[0]["Issued_date"].to_s %></p>
		<p><b>Filed Date: </b><%= @patent[i].to_a[0]["Filed_Date"].to_s %></p>
		<hr>
		<p><b>Abstract: </b><br><%= @patent[i].to_a[0]["Abstract"].to_s %></p>
		<hr>
		<p><b>Summary: </b><br><%= @patent[i].to_a[0]["Summary"].to_s %></p>
		<hr>
		<p><b>Claims: </b><br><%= @patent[i].to_a[0]["Claims"].to_s %></p>
		<hr>
	<% end %>
<% end %>
