<h3><i class="icon-search"></i> Search Results </h3>

<p>
	<h4><%= @size %> results, Search by Inventor = "<%= params[:INV]%>"</h4><br>
	<% (2003..2008).each { |i| %>
     		<% if @patentID[i].to_a.empty? == false %>
     			<% @patentID[i].to_a.each do |p| %>
     				<span><b>Patent ID: </b><%= p['Patent_id'].to_s %></span><br>
     				<span><b>Title: </b><%= p['Title'].to_s %></span><br>
				<%= link_to 'Details', {:controller => "basic", :action => "patent", :id => p['Patent_id'].to_s } %><br><br>
     			<% end %>
		<% end %>
     <% } %>
</p>