
<script type="text/javascript">

(function($){ // encapsulate jQuery

$(function () {
    var chart;
    
    $(document).ready(function() {
        var array = JSON.parse('<%= @count %>');
        var company = '<%= params[:ASS] %>';
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Company Number of Patents per Year',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: uspto',
                x: -20
            },
            xAxis: {
                categories: ['2007', '2008', '20009', '2010', '2011', '2012']
            },
            yAxis: {
                title: {
                    text: 'number of patents'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +' patent(s)';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: company,
                data: array
            }]
        });
    });
    
});
})(jQuery);
</script>


<!--
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script> -->
<div class="page-header">
    <h3>numbers of patent <small>search by assignee</small></h3>
</div>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div class="page-header">
    <h3>inventor bar<small>search by assignee</small></h3>
</div>
<div calss="row">
    <div class="span3">
    <% @query_result.each do |q|%>
        <p><%= q['Name']%> : <%= q['COUNT( inventor_2007.Name )']%></p>
    <% end %>
    </div>
    <div class="span8">
        <div id="inventor_bar" style="min-width: 600px; height: 400px; margin: 0 auto">
        </div>
    </div>
</div><!-- end of row -->

<script type="text/javascript">
var chart;
$(document).ready(function() {
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'inventor_bar',
            type: 'column'
        },
        title: {
            text: 'Inventor bar'
        },
        subtitle: {
            text: 'Samsung'
        },
        xAxis: {
            title: {
                text: 'name'
            },
            categories: [
            <% (0..@query_result.count-1).each do |i| %>
                <% if i == @query_result.count-1 %>
                '<%= @query_result[i]['Name'].to_s %>'
                <% else %>
                '<%= @query_result[i]['Name'].to_s %>',
                <% end %>
            <% end %>
            ],
            labels: {
                rotation: -60,
                align: 'right'
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'count'
            }
        },
        legend: {
            layout: 'vertical',
            backgroundColor: '#FFFFFF',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            shadow: true
        },
        tooltip: {
            formatter: function() {
                return ''+
                    this.x +': '+ this.y +' mm';
            }
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Inventor',
            data: [
            <% (0..@query_result.count-1).each do |i| %>
                <% if i == @query_result.count-1 %>
                <%= @query_result[i]['COUNT( inventor_2007.Name )'] %>]
                <% else %>
                <%= @query_result[i]['COUNT( inventor_2007.Name )'] %>,
                <% end %>
            <% end %>            
        }]
    });
});   
</script>

<% content_for :javascript do %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "modules/exporting" %>
<% end %>