<% content_for :stylesheet do %>
	<%= stylesheet_link_tag    "loader", :media => "all" %>
	<%= stylesheet_link_tag  "statistics", :media => "all" %>
<% end %>

<div class="page-header">
	<h3><i class="icon-bar-chart"></i> Statistics </h3>
</div>
<ul class="nav nav-tabs">
  <li class="active"><a href="#single" data-toggle="tab">Single assignee</a></li>
  <li><a href="#multiple" data-toggle="tab">Multiple assignees</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="single">
  	<div class="row">
  		<div class="span8">
		  	<form id="singleInput" action="/statistics/graph" method="get">
		  	  <div class="row">
		  	  <div class="input-append span6 pull-left">
			  	<input type="text" class="span5" name="companyIn" id="companyIn" placeholder="assigne name ...">
			  	<button id="companySubmit" rel="popover" class="btn" type="button" data-placement="top" data-content="search possible assignee names" data-original-title="Tooltip" data-trigger="hover"><i class="icon-zoom-in"></i></button>
			    <div class="loader pull-right">
				  <figure class="spinner">
					<figure class="bar1"></figure>   
					<figure class="bar2"></figure>
					<figure class="bar3"></figure>
					<figure class="bar4"></figure>
					<figure class="bar5"></figure>
					<figure class="bar6"></figure>
					<figure class="bar7"></figure>
					<figure class="bar8"></figure>
					<figure class="bar9"></figure>
					<figure class="bar10"></figure>
					<figure class="bar11"></figure>
					<figure class="bar12"></figure>			  
				  </figure>
			    </div>
			  </div>
			  </div>
			  

			  <div class="row" id="nameSet">
			  	<div class="span6">
			  	</div>
			  </div>

			  <div class="row input-timeInterval">
			  	<div class="span12">
			  		<% timezone = Hash.new() %>
			  		<%(1990..2012).each do |i|%>
			  			<% timezone[i.to_s] = i%>
			  		<% end %>
			  		<div class="span3" id="beginTime">
					  	<span>From : </span>
					  	<%= select_tag("beginTime", options_for_select( timezone , 1990))%>
				  	</div>
				  	<div class="span3" id="endTime">
					  	<span>To : </span>
					  	<%= select_tag("endTime", options_for_select( timezone , 2012))%>
				  	</div>
			  	</div>
			  </div>
			  <!-- <label class="checkbox">
			    <input type="checkbox"> Remember me
			  </label> -->
			  <input type="submit" value="Submit" class="btn btn-info"></input>
			</form>
		</div>
		<div class="span3 well well-small">
			<div class="targetList">
				<label>Target : </label>
				<ul>
				</ul>
			</div>
		</div>
	</div>
  </div>
  <div class="tab-pane" id="multiple">
  	<p>Comparison of Multiple Assignees
  		<span class="label label-info">In progress...</span>
  	<p>
  	<br />
	<div class="accordion" id="accordion2">
		<div class="accordion-group">
			<div class="accordion-heading">
				<div id="listCartPatent" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
					<i class="icon-shopping-cart"></i> select from my cart 
				</div>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div id="listFrame" class="accordion-inner">
				</div>
			</div>
		</div>
	</div>

  </div>
</div>


<% content_for :javascript do %>
	<%= javascript_include_tag "company" %>
	<%= javascript_include_tag "cart/list" %>
<% end %>