<div class="page-header">
    <h3>IPC Pie Chart <small>Identify major research fields.</small></h3>
</div>

<script type="text/javascript">
function pie(chartData, level) {
    var chart;
    var str = chartData[level].replace(/&quot;/g, '\"');
    var array = JSON.parse(str);
    
    $(document).ready(function() {        
        temp = '<div id="containerIPC" style="min-width: 400px; height: 400px; margin: 0 auto"></div>';
        $( "#empty" ).before(temp);

        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'containerIPC',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Patent Distribution (by IPC)'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Number of patents:',
                data: array
            }]
        });
    });
    
    if ( level == 4 ){
        $( "#in" ).css("visibility", "hidden");
        //$( "#in" ).remove();
        flagIN = false;
    }
    else if ( level == 3 && flagIN == false){
        $( "#in" ).css("visibility", "visible");
        //$( "#empty" ).after('<button id="in">Zoom in</button>');
        flagIN = true;
    }

    if ( level == 0 ){
        $( "#out" ).remove();
        flagOUT = true;
    }
    else if ( level == 1 && flagOUT == true){
        $( "#in" ).after('<button id="out">Zoom out</button>');
        flagOUT = false;
    }
    
};

var level = 0;
var chartData = new Array();
var flagIN = true;
var flagOUT = true;

chartData[0] = '<%= @result[0] %>';
chartData[1] = '<%= @result[1] %>';
chartData[2] = '<%= @result[2] %>';
chartData[3] = '<%= @result[3] %>';
chartData[4] = '<%= @result[4] %>';

pie( chartData, level );

$( "#in" ).live("click",function() {
   $( "#containerIPC" ).remove();
   level = level + 1;
   pie( chartData, level );
});

$( "#out" ).live("click",function() {
   $( "#containerIPC" ).remove();
   level = level - 1;
   pie( chartData, level );
});

</script>

<div id="empty"></div>
<button id="in">Zoom in</button>
<div>Learn more about <a href="http://www.wipo.int/classifications/ipc/" target="_blank">International Patent Classification (IPC)</a></div>
<!--<%= @result %><br>-->
<!--<%= @chartdata %><br>-->
<!--<%= @iPC_data %><br>-->