<!--patentList.html.erb-->
<div class="page-header">
    <h3>Patent List <small>List of all patents for this company. (Utility patents only)</small></h3>
</div>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Title</th>
			<th>Inventor</th>
			<th>Issued Date</th>
		</tr>
	</thead>
	<tbody>
	<% (@start_year..@end_year).each { |i| %>
     		<% if @patent[i].to_a.empty? == false %>
     			<% @patent[i].to_a.each do |p| %>
     				<%  if p['Patent_id'].to_s[0] =~ /\d/ %>
     				<tr>
     				<td><%= p['Patent_id'].to_s %></td>
     				<td><%= p['Title'].to_s %></td>
     				<td><%= p['Name'].to_s %></td>
     				<td><%= p['Issued_date'].to_s %></td>
				<td><%= link_to 'Details', {:controller => "basic", :action => "patent", :id => p['Patent_id'].to_s } %></td>
				</tr>
				<% end %>
     			<% end %>
		<% end %>
     <% } %>
 	</tbody>
</table>