<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Patent Cart</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :stylesheet %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render "partial/nav_bar" %>
    <div class="container">
    <!-- Main hero unit for a primary marketing message or call to action -->
      <%= yield %>  
    </div> <!-- /container -->
    <%= render "partial/footer" %> 
    <%= javascript_include_tag "bootstrap.min" %>
    <%= yield :javascript %>
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
