<!DOCTYPE html>
<html>
<head>
  <title>Test1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :stylesheet %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
</head>
<body>
<<<<<<< HEAD
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/home">PaPaPatent.com</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="#about">Statistics</a></li>
              <li><a href="#contact">Analysis</a></li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="keywords">
              <button type="submit" class="btn">Search</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
=======
    <%= render "partial/nav_bar" %>
>>>>>>> 49ea290b1bf120ab208bb758212baaa47ccc331a
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <%= yield %>  
    </div> <!-- /container -->
<<<<<<< HEAD

=======
    <%= render "partial/footer" %> 
    <%= yield :javascript %>
    <!-- Placed at the end of the document so the pages load faster -->
>>>>>>> 49ea290b1bf120ab208bb758212baaa47ccc331a
</body>
</html>
